route:
  group_by: ['alertname','job']
  group_wait: 30s
  group_interval: 5m
  repeat_interval: 10m
  receiver: test-receiver


  {# https://hooks.slack.com/services/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 #}

receivers:
- name: test-receiver
  slack_configs:
  - api_url: 'https://hooks.slack.com/services/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'
    username: 'Demo Alertmanager'
    channel: '#notifications'
    send_resolved: true