[Unit]
Description=Alert Manager service
After=network-online.target

[Service]
User=oper
WorkingDirectory={{alert_manager_install_dir}}
Restart=on-failure
RestartSec=30
TimeoutSec=120
ExecStart={{alert_manager_install_dir}}/alertmanager --log.level=debug
ExecStop=/usr/bin/pkill alertmanager